@import url('https://fonts.googleapis.com/css?family=Syncopate:400,700');
@import 'foundation';
@import 'slick.scss';
@import "settings";

@include foundation-typography;
//@include foundation-forms;
//@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
//@include foundation-close-button;
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-responsive-embed;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-xy-grid-classes;

/*  Main  */
body {
  background: $white;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header-container {
  border-bottom: 1px solid $black;
  margin-bottom: 30px;
  padding: 30px 0;
}

.footer-container {
  border-top: 1px solid $black;
  padding: 30px 0;
}

#container {
  background-image: url(../img/background.jpg);
  margin: 0 auto;
  max-width: 960px;
}

#container p {
  margin-bottom: 25px;
}

.column {
  background: $white url(../img/bgimg.jpg) no-repeat center center;
  box-shadow: 0px 0px 9px 0px #a2a1a1;
  cursor: default;
  margin-bottom: rem-calc(30);
  outline: 1px solid $white;
  overflow: hidden;
  position: relative;
  text-align: center;

  h3 {
    background: url(../img/black-out-80.png);
    color: $white;
    font-size: 17px;
    margin: 20px 0 0 0;
    opacity: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transform: translateY(-150px);
    transition: all 0.2s ease-in-out;
  }

  img {
    display: block;
    height: 100%;
    position: relative;
    transition: all 0.2s ease-in;
    width: 100%;
  }

  p {
    color: $white;
    font-family: Georgia, serif;
    font-size: 12px;
    font-style: italic;
    opacity: 0;
    padding: 10px 20px 20px;
    position: relative;
    text-align: center;
    transition: all 0.2s ease-in-out;
  }

  a {
    opacity: 0;
  }
  .mask {
    background: url(../img/black-out.png);
    filter: alpha(opacity=0);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    transform: translate(300px, -150px) rotate(180deg);
    transition: all 0.2s 0.4s ease-in-out;
  }

  .mask,
  .content {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover {
    h3,
    p,
    a {

      opacity: 1;
    }
    h3 {
      transform: translateY(0px);
      transition-delay: 0.1s;
    }

    p {
      transition-delay: 0.3s;
    }

    .mask {
      filter: alpha(opacity=100);
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
      opacity: 1;
      transform: translate(0px, 0px);
      transition-delay: 0s;
    }
  }

  a.info {
    background: #000;
    box-shadow: 0 0 1px #000;
    color: $white;
    padding: 7px 14px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #c6c6c6;
    }
  }
}

a.back {
  float: left;
  margin-bottom: 25px;
}

.quotemark {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 36px;
}

.description {
  margin: 25px 0 25px;
  text-align: center;
}

/* Colors */
.black {
  color: #1d1d1d;
}

.grey {
  color: #b3b3b3;
}

/* Misc */

.nobold {
  font-weight: 100;
}

/* Typography */
a {
  color: #195da3;
  font-family: 'Syncopate', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #b3b3b3;
}

h1, h2, h3 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
}

h2 {
  border-bottom: 1px solid #1d1d1d;
  margin: 20px 0 40px;
  padding: 25px 0;
}

h3 {
  font-size: 22px;
  line-height: 26px;
}

.portfolio h3 {
  margin-bottom: 5px;
}

.button-slider {
  align-self: center;
  background: #b3b3b3;
  cursor: pointer;
  color: $white;
  height: 25px;
  line-height: 25px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: 25px;
  &:hover {
    background-color: $black;
  }
  @include breakpoint(medium up) {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    width: 50px;
  }
}

#button-slider-previous,
#button-slider-next {
  //display: flex;
  //align-items: center;
  //justify-content: center;
}

#button-slider-next {
  .button-slider {
    float: right;
  }
}

.slider {
  text-align: center;
  img {
    text-align: center;
    width: 100%;
  }
}

.footer-portfolio {
  padding: 30px 0;
}